$main_color: green;

.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.container-fluid {
  padding-left: 40px;
  padding-right:40px;
/*   background-color: thistle; */
}
